<%- include('partials/header') %>

<section class="mt-5" id="homeSec">

    <div class="jumbotron jumbotron-fluid herobg bg-white text-center h-100">
      <div class="pt-5  margintop">
      
      <h1 class="display-4 topic mb-3"><span class="element"></span></h1>
      <p style="font-weight: 300;">Passionate about Competitive Coding & Hi-Tech Developement?<br>
        Join the family of Geeky Techies NOW!</p>
    
         <!-- modal -->
  
        <!-- Button to Open the Modal -->
       
  <div class="text-center my-4">
    <% if(current){ %>
    <a href="/secret">
      <button style="font-size: 24px;" type="button" class="button-normal button">
        Task Portal
      </button>
    </a>
  <% } else { %>
    <a href="/login">
      <button style="font-size: 24px;" type="button" class="button-normal button">
        Task Portal
      </button>
    </a>
  <% } %>

  </div>

  </div>
</div>
  <!-- The Modal -->


  
  
    
  </section>
  <div class="container">
    <hr class="my-4">
    <!-- about -->
    <section class="mx-2 mt-5" id="aboutSec">
     <div class="my-3">
        <h1 class="topic jump"><span class="letter">Sa</span>lut Chefs,</h1>
     </div>
      
      <p>With enlivening events to pulling-off salient projects, factual conversations to grave club 
        meet-ups, late-night game sessions to gossipy talks….we had a blasty blast ever since the 
        club was brought to being. </p>
      <p>In this expedition, we swotted for intense knowledge, be it about hi-tech development , 
        astounding creativity or dealing with the proficient corporate leaders. The trip was no doubt 
        daunting and sweaty at times, but with the dedicated support of the entire team, not a 
        sausage could refrain us from attaining it all.</p>
      <p class="text-center">And now it’s that time, for which you all had been waiting in wings!!</p>
      <p>CodeChef SRM extends a fair chance to all of you, to make your way into the team.  
        Whether you’re a pro at development or just a newbie at technology, we believe that you can 
        still ace the game with our unerring guidance.
      </p>
      <div class="text-center">
        <p><strong>Enlist in the journey of mind-boggling technical ride with a twist and tang of creativity in every bit </strong></p>
      </div>
      <p>Remember...CodeChef SRM is no ordinary club that follows the old monotonous drill of 
        recruiting students and simply pushing them to the wheel of work...eventually making it a 
        thorn of flesh for them. We rather count on learning together and then building astonishing 
        creations. So, without hesitancy, take a deep breath, select a corner, open the laptop and fill 
        out the form with all your heart. If you have that zeal and desire...you’ll definitely be a cut 
        ahead of your fellow competitors. </p>
    </section>
    <hr class="my-3">
    <!-- timeline -->
    <section class="">
  
      <div id="joinSec">
          <div class="text-center topic my-5">
            <h1 class="topic"><span class="letter">Be</span> a part of our Family</h1>
          </div>
        
        <p>Just like how a Chef works endlessly to deliver a full course meal selecting and handpicking 
          his ingredients and recipes, we at CodeChef SRM do the same for our team. We very 
          carefully select our members and the process is a challenging but fruitful one.</p>
      </div>
      
      <div class="card-deck">
        <div class="row justify-content-center">
          <div class="  col-sm-6 col-md-6  ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded ">
      
          <img src="https://lh3.googleusercontent.com/pw/ACtC-3dmy5gaEnrIKxD8aAPKxW5YjLsqEhSGJfeZ3lIw_37yxVJyCDU03hu_5MBQOopN4FZ258xsIz6jKnCpKMiCr7E-iDaZaEvKSTMZzPs_UR-KBuFAuPYd_TGDGl1jHG_FhmFdYm1ea1pjmA2ewN1xGAuG=w1018-h950-no?authuser=0" class="card-img-top" alt="...">
      
          <div class="card-body">
            <strong class="card-title">Appetizer</strong>
            <p class="card-text">The Registration Phase: Fill up our recruitment form and help us get to know you better.</p>
      
          </div>
        </div>
      </div>
      <div class="  col-sm-6 col-md-6  ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      
          <img src="https://lh3.googleusercontent.com/pw/ACtC-3f0o6YRs48dVOlQqK-UFCl9siAS_RGxbP0oKLwwQhkw1JfYqkLlPlHFWQks-Qhx6qZlAcYWANn4A7zBxcGBoZbF7D1H_5sNpjiPOM5Sf14zHtyref_6LtjB5cRkCKZC2lsywLPGp_NI4T8tXFgR1HAe=w1017-h950-no?authuser=0" class="card-img-top" alt="...">
      
          <div class="card-body">
            <strong class="card-title">Entrée</strong>
            <p class="card-text">The Task phase: The shortlisted stagiaires will be sent a bunch of tasks to cook up something which helps set them apart from the rest..</p>
            
          </div>
        </div>
      </div>
      <div class="  col-sm-6 col-md-6 ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <img src="https://lh3.googleusercontent.com/pw/ACtC-3euiTrS2nLpFQycsv6-dOo5NEzNDUZtJXVKEA7QTpCng_JU9xKJiCmL5eS_0FmHZ93aXYaE0_XGcrI3pxytf-wtImah21XkS49ivqdqu9D722_slMjNqh_ALwQMYFUWm4Ku1TAsAy-bf8XvEnH3T1wq=w1017-h950-no?authuser=0" class="card-img-top" alt="...">
          <div class="card-body">
            <strong class="card-title">Main Course</strong>
            <p class="card-text">The Interview Phase: Here we create an environment which allows us to get to know your skills in detail and also helps you know about us.</p>
           
          </div>
        </div>
      </div>
      <div class="  col-sm-6 col-md-6 ">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <img src="https://lh3.googleusercontent.com/pw/ACtC-3c7frWAn7ttR7-T_2v9-dX_5bqdoUDZm0FDRDh13NYV-6lIlQi_GPPvtZJgeaAvLZTXLIGb7op89r7Msf74f-n0FW4v_oDjMAopr5J-6UIPUI82kYYXRfAPvzxIRBDzxT3IHHedUlzxqHiSY-aDp13J=w1017-h950-no?authuser=0" class="card-img-top" alt="...">
          <div class="card-body">
            <strong class="card-title">Dessert</strong>
            <p class="card-text">Just like how a full course meal ends with the desert. We welcome the hand picked chefs who worked hard to get through our recruitments to our Family!!</p>
           
          </div>
        </div>
      </div>
      <hr class="my-3">
      <div class="mx-4 mt-5" id="ideologySec">
        <div class="text-center my-5">
            <h1 class="topic"><span class="letter">Co</span>deChef SRM’s Ideology</h1>
        </div>
        <p>
          CodeChef SRM gives credence to growing and succeeding cooperatively.We are a group of 
           like-minded coders trying to put a dent in this world. Our undertaking is to proceed with 
           strength of will and educate the crowd about the state of the art in technology. The key 
           ambition behind this initiative is to spread the gravity of competitive programming around 
           our campus, assisting students to find their place in the sun.
        </p>
        <p>
          Our Seniors worked endlessly to ensure that the members achieved their true potential. And 
          that's what we expect from our young chefs. All we want from our family is to be open to 
          learning new things. We don’t believe in restricting our members to their central domain. 
          Despite this, we push them to flourish out of their zone , giving them a platform to expand 
          and plump for the field they find intriguing to learn. 
        </p>
        <p>
          All the members striving hard to shove their boundaries are heartened and stirred up with 
          timely swags like CodeChef Laddus and many more to proceed with their work more 
          passionately and outshine tremendously.
        </p>
      </div>
    </section>
<%- include('partials/footer') %>
