<%- include('partials/header') %>
<div class="container">
    <div class="jumbotron" style="background: none; margin-top: 100px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-4 topic">
                    Login
                </h1>
                <p>
                    Come on chef...<br>Login to the ultimate cookhouse of computing where the codes are grilled and seared to ladle out appetizing dishes.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <form action="/login" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><span>Email address</span></label>
                      <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputtext"><span>Password</span></label>
                      <input type="password" name="password" class="form-control" placeholder="Enter Your password" required>
                      <div class="text-center my-2">
                        <a href="/forgot" style="color:#d9534f; font-size: 14px;">
                            Forgot Password?
                          </a>
                      </div>
                    </div>
                    <button type="submit" class="button-success">Login</button>       
                  </form>
                  <p style="font-size: 14px;">Not registered? <a href="/register" style="font-size: 14px;">Register</a></p>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>