<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron bg-white" style="margin: 0">
    <p class="text-center text-uppercase" style="margin-top:70px">
       #enlistInCCSC 
    </p>
    <h1 class="display-4 text-center topic">Instructions and Rules</h1>
    <p class="display-5 lead text-center">
      To all our future stagiaires here are a few instructions before you
      begin with your quest to become a chef. Make sure you read all of them
      carefully as each step is vital to your success.
    </p>
    <hr class="my-4" style="color: black" />
  </div>
  <ul class="list">
    <li>
      Ensure that the fields asking for your Name, Roll No,Year,
      Specialisation, Registration Number, Phone Number and email address
      are filled without any errors.
    </li>
    <hr class="my-4" style="color: black" />
    <li>
      Fill in the main and sub domain you want to enter in the field
      provided in the form. We also provide an option for you in which you
      are allowed to choose another domain that you would like to go to.
    </li>
    <hr class="my-4" style="color: black" />
    <li>
      There will be 2 questions that are mandatory to be answered with at
      least 150 words.
    </li>
    <hr class="my-4" style="color: black" />
    <li>
      There is a field which asks for your LinkedIn. To all our newbies if
      you don’t have a linkedIn account yet don’t worry we’ll provide you
      with a guide to help you with that. <br /><br />Guide: <a
        href="https://docs.google.com/document/d/1iQqjt3HtOcnIpADffj8PaukWGQy_AnJpg1zGkX37_2o/edit?usp=sharing"
        >Getting LinkedIn Right</a
      >

      <br />
      Reference:
      <a href="https://youtu.be/jh5eDSMPvjE"
        >Youtube-link</a
      ><br>

      LinkedIn is an absolute necessity and will help you with your future
      endeavours.
    </li>
    <hr class="my-4" style="color: black" />
    <li>
      <!-- <ion-icon name="arrow-forward-circle-outline"></ion-icon> -->

      Ensure that the resume file you upload is titled your name. To avoid
      any confusion please refer to the example below. Example :
      jim_carry_resume.pdf
    </li>
    <hr class="my-4" style="color: black" />
    <li>
      <!-- <ion-icon name="arrow-forward-circle-outline"></ion-icon> -->
      For all chef’s filling for the tech domain it is necessary for you to
      create a Github account and put the link for the same in it. If you
      don’t have one please create one it is mandatory. Github is a platform
      for developers which allows you to store all your projects in one
      place and as an engineer there is nothing more important than having a
      Github account.
      <br /><br />
      Reference:<a href="https://youtu.be/f_XsJIHSLRg"
        > Youtube-link</a
      >
    </li>
  </ul>

  <br />

  <p class="text-center text-uppercase mb-5">
    
      Dear chef’s,<br> Please ensure each field is filled carefully as these
      increase your chances of getting in.<br> With that being said from the
      whole team at CodeChef SRM, Best of luck!
    
  </p>
 
  <div class="text-center my-3">
    <!-- <button type="button">centered button</button> -->
    <a href="/secret">
    <button
    style="font-size: 24px;" type="button" class="button-normal button"
    >
     Let's start
      <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
    </button>
  </a>
  </div>

  <!-- </div> -->
</div>
  <%- include('partials/footer') %>