<%- include('partials/header') %>
<div class="jumbotron container text-center bg-white mt-5">

  <h1 class="topic" style="margin-top: 50px;">
      <span class="letter">Task </span>Portal
  </h1>
  <p>
    Hey there, Stagiaire !!! Welcome back, seems like you've already had your appetizer!! Hope you enjoyed it.
  <br>
    It's time for phase 2, make sure you have read all the rules mentioned in the mail sent to you.
  </p>
     
</div>
<div class="container">
<% if(github) { %>

 <% if(current.technical){ %>
        <% if(current.technical === "Web Development"){ %>
          <% if(current.year === "1"){ %>
            <div class="card  shadow-lg  my-3">
              <h2 class="card-header  ">Technical-Web Development</h2>
              <div class="card-body">
                <h5 class="card-title">Rules</h5>
                
                  <ul class="list" >
                     <li>Any 1 out of the given tasks can be chosen.</li>
                     <li>You are required to push your code on Github and paste the link for submission.</li>
                     <li>Plagiarized content is strictly prohibited.</b></li>
                  </ul>
              
                <p class="card-text">
                  <h4>Task 1</h4>
                  <p>
                       Build a website using only bootstrap.
                  </p>
                  <h4>Task 2</h4>
                          <p>
                              Build a responsive website without using any front-end frameworks
                  </p>
                  <h4>Task 3</h4>
                          <p>
                              Make a quiz game using js
                  </p>
                  
                  <h4>Task 4</h4>
                  <p>
                       A project implementing simple routing
                  </p>
                </p>
              </div>
              <div class="card-footer text-muted ">
                <form method="POST" action="/technical/tasks">
                  <div class="form-group">
                    <input type="url" name="tech" required placeholder="Enter Link" class="form-control mb-3">
                    <div class="text-center">
                      <button type="submit" class="button-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <% } %>
          <% if(current.year === "2"){ %>
            <div class="card  shadow-lg  my-3">
              <h2 class="card-header  ">Technical-Web Development</h2>
              <div class="card-body">
                <h5 class="card-title">Rules</h5>
                
                  <ul class="list" >
                     <li>Any 1 out of the given tasks can be chosen.</li>
                     <li>You are required to push your code on Github and paste the link for submission.</li>
                     <li>Plagiarized content is strictly prohibited.</b></li>
                  </ul>
              
                <p class="card-text">
                  <h4>Task 1</h4>
                  <p>
                      Build your portfolio with feedback form responses
                  </p>
                  <h4>Task 2</h4>
                            <p>
                                Prepare a payment Gateway Integration using 3rd Party Apps
                  </p>
                  <h4>Task 3</h4>
                            <p>
                                Build a blog template (responsive + no frameworks)
                  </p>
                  
                  <h4>Task 4</h4>
                  <p>
                      Build a website that displays the most popular web series or movies (filter search bar mandatory).
                </p>
                </p>
              </div>
              <div class="card-footer text-muted ">
                <form method="POST" action="/technical/tasks">
                  <div class="form-group">
                    <input type="url" name="tech" required placeholder="Enter Link" class="form-control mb-3">
                    <div class="text-center">
                      <button type="submit" class="button-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <% } %>
        <% } %>

        <% if(current.technical === "App Development"){ %>
          <% if(current.year === "1"){ %>
            <div class="card  shadow-lg  my-3">
              <h2 class="card-header  ">Technical-App Development</h2>
              <div class="card-body">
                <h5 class="card-title">Rules</h5>
                
                  <ul class="list" >
                    <li>  Content should not be copied.</li>
                    <li>	 The entire project file should be submitted</li>
                    <li>	 Proper github repository link should be provided</li>
                    <li>  Complete any 1 of the task mentioned below</b></li>
                    </ul>
              
                <p class="card-text">
                  <h4>Task 1</h4>
                              <p>				 ID card app/ Resume app<br>
                       For example : Name, Registration number, DOB, Profile Image, etc.<br>
                       Check the following link for demo screenshot:- <a href="https://drive.google.com/file/d/1r2JXXHl0w9bDU1kQdB4Cy7Npj4Yy80Ai/view?usp=sharing"> Task 1 </a>				 
                        
                    </p>
                    <h4>Task 2</h4>
                              <p>
                       Random number app<br>
                       Click on GO button and display a random number between 1 to 6<br>
                       Check the following link for demo screenshot:- <a href="https://drive.google.com/file/d/1rlrb7qeheCJ06HSsRKzQi-FcsY3fq8og/view?usp=sharing"> Task 2 </a>
                    </p>
                </p>
              </div>
              <div class="card-footer text-muted ">
                <form method="POST" action="/technical/tasks">
                  <div class="form-group">
                    <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                    <div class="text-center">
                      <button type="submit" class="button-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <% } %>
          <% if(current.year === "2"){ %>
            <div class="card  shadow-lg  my-3">
              <h2 class="card-header  ">Technical-App Development</h2>
              <div class="card-body">
                <h5 class="card-title">Rules</h5>
                
                  <ul class="list" >
                    <li>  Content should not be copied.</li>
                    <li>	 The entire project file should be submitted</li>
                    <li>	 Proper github repository link should be provided</li>
                    <li>  Complete any 1 of the task mentioned below</b></li>
                    </ul>
              
                <p class="card-text">
                  <h4>Task 1</h4>
                  <p>				 Login/Logout using Firebase<br>
                      Whenever the user login, a single portfolio page will be displayed<br>
                        
                    </p>
                    <h4>Task 2</h4>
                              <p>
                      World weather or World weather time App<br>
                      Throught any API of your Choice<br>
                    </p>
                            </p>
              </div>
              <div class="card-footer text-muted ">
                <form method="POST" action="/technical/tasks">
                  <div class="form-group">
                    <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                    <div class="text-center">
                      <button type="submit" class="button-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <% } %>
      <% } %>

      <% if(current.technical === "Competitive Coding"){ %>
        <% if(current.year === "1"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Competitive Coding</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li> The contest is a part of team recruitment for CodeChef SRM Chapter 2020-21.</li>
                  <li>	This is a closed contest, and only shortlisted participants are allowed to take part in it.</li>
                  <li>	Ties will be broken by the total time for each user in ascending order of time.</li>
                  <li> A time period of 1.5 hours will be allotted to solve all the problems.</b></li>
                  </ul>
            
      
            </div>
            <div class="card-footer text-muted ">
              <div class="input-group">
           
                <a href="https://www.codechef.com/ENL12021" class="btn btn-success">Contest Link</a>
              </div>
            </div>
          </div>
        <% } %>
        <% if(current.year === "2"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Competitive Coding</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li> The contest is a part of team recruitment for CodeChef SRM Chapter 2020-21.</li>
                  <li>	This is a closed contest, and only shortlisted participants are allowed to take part in it.</li>
                  <li>	Ties will be broken by the total time for each user in ascending order of time.</li>
                  <li> A time period of 1.5 hours will be allotted to solve all the problems.</b></li>
                  </ul>
            
      
            </div>
            <div class="card-footer text-muted ">
              <div class="input-group">
            
                <a href="https://www.codechef.com/ENL22021" class="btn btn-success">Contest Link</a>
              </div>
            </div>
          </div>
        <% } %>
    <% } %>

    <% if(current.technical === "Data Science"){ %>
      <% if(current.year === "1"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Data Science</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                 <li>Any 1 out of the given tasks can be chosen.</li>
                 <li>You are required to push your code on Github and paste the link for submission.</li>
                 <li>Plagiarized content is strictly prohibited.</b></li>
              </ul>
          
            <p class="card-text">
              <h4>Kindly redirect to the link for the docs where the tasks are provided for you.</h4>
            </p>
            <div class="text-center">
              <a href="https://docs.google.com/document/d/1HEoo1aytB01rIAIuhmvUr4mSwMk0YrcPL-8QaODb8Po/edit" class="btn btn-success">Click for Tasks</a>
            </div>
          </div>
          <div class="card-footer text-muted ">
            
            <form method="POST" action="/technical/tasks">
              <div class="form-group">
                <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                <div class="text-center">
                  <button type="submit" class="button-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>        
      <% } %>
      <% if(current.year === "2"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Data Science</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                 <li>Any 1 out of the given tasks can be chosen.</li>
                 <li>You are required to push your code on Github and paste the link for submission.</li>
                 <li>Plagiarized content is strictly prohibited.</b></li>
              </ul>
          
            <p class="card-text">
              <h4>Kindly redirect to the link for the docs where the tasks are provided for you.</h4>
            </p>
            <div class="text-center">
              <a href="https://docs.google.com/document/d/1o9KW0NiRI_agC4JGcexXTFOzdWQ-dKlBVsSugvykCQ4/edit" class="btn btn-success">Click for Tasks</a>
            </div>
          </div>
          <div class="card-footer text-muted ">
           
            <form method="POST" action="/technical/tasks">
              <div class="form-group">
                <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                <div class="text-center">
                  <button type="submit" class="button-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
    <% } %>
<% } %>

<% if(current.corporate){ %>
      
      <% if(current.corporate === "Management"){ %>
        <% if(current.year === "1"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Management</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li>Word limit should be atleast 120 words.</li>
                  <li>	Answers should be to the point.</li>
                  <li>	It is mandatory to complete 2 out of the 4 given tasks.</li>
                </ul>
            
              <p class="card-text">
                 <h4>Task 1</h4>
                            <p>
                                Pen down a proper planning strategy to host an online event or a coding competition as per the current scenario in the pandemic.
                  </p>
                  <h4>Task 2</h4>
                            <p>
                                We at Codechef SRM are hosting a webinar, but the audience for the same is not upto the mark, put out a few strategies to increase the number of participants. 
                  </p>
                  <h4>Task 3</h4>
                            <p>
                                You’ve just been given a new event to plan. How do you prepare for the meeting with your teammates ?
                  </p>
                  
                  <h4>Task 4</h4>
                            <p>
                    Assume in an event(offline/online), a guest is speaking for a long time and it is way past his/her allotted time, now what would you do in order to stop him/her from going on further in order to maintain the time arrangement of the event and also at the same time not disrespecting him/her in any way possible. 
        
                  </p>
              </p>
            </div>
            <div class="card-footer text-muted ">
              <form method="POST" action="/technical/tasks">
                <div class="form-group">
                  <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                  <div class="text-center">
                    <button type="submit" class="button-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% } %>
        <% if(current.year === "2"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Management</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li>Word limit should be atleast 120 words.</li>
                  <li>	Answers should be to the point.</li>
                  <li>	It is mandatory to complete 2 out of the 4 given tasks.</li>
                </ul>
            
              <p class="card-text">
                <h4>Task 1</h4>
                <p>
                    Go through our instagram page and form an event report for Chef’s Fiesta. Details about the number of participants etc can be made up but the timeline should be followed as given.
              </p>
              <h4>Task 2</h4>
                        <p>
                            A big event is coming up and the preparation for the same has been going on for weeks. The technical and creatives team have worked for days for this event. But two days before the event you find out that there has been a mix up with the venues and you don’t have the same venue anymore. What do you do? 
              </p>
              <h4>Task 3</h4>
                        <p>
                            Suppose, one of our events is going over-budget. How would you handle such a situation?
              </p>
              
              <h4>Task 4</h4>
                        <p>
                Assume in an event(offline/online), a guest is speaking for a long time and it is way past his/her allotted time, now what would you do in order to stop him/her from going on further in order to maintain the time arrangement of the event and also at the same time not disrespecting him/her in any way possible. 
              
              </p>
              </p>
            </div>
            <div class="card-footer text-muted ">
              <form method="POST" action="/technical/tasks">
                <div class="form-group">
                  <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                  <div class="text-center">
                    <button type="submit" class="button-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% } %>
      <% } %>

      <% if(current.corporate === "Sponsorship"){ %>
        <% if(current.year === "1"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Sponsorship</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li>Word limit should be atleast 120 words.</li>
                  <li>	Answers should be to the point.</li>
                  <li>	It is mandatory to complete 2 out of the 4 given tasks.</li>
                </ul>
            
              <p class="card-text">
                <h4>Task 1</h4>
                <p>
                    How would you convince any student to attend a webinar right after 2-3 hours of online classes on a weekday.
              </p>
              <h4>Task 2</h4>
                      <p>
                          Draft a marketing strategy for an upcoming event on the basics of Python. Taking your target audience as first years, how would you market this basic workshop to them?
              </p>
              <h4>Task 3</h4>
                      <p>
                          What do you think of CodeChef SRM’s current social media presence? What changes would you suggest to improve our reach towards the newly admitted freshers like yourself?
              </p>
              
              <h4>Task 4</h4>
                      <p>
              Draft an email for approaching a sponsor for a monetary sponsorship.
              </p>
              </p>
            </div>
            <div class="card-footer text-muted ">
              <form method="POST" action="/technical/tasks">
                <div class="form-group">
                  <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                  <div class="text-center">
                    <button type="submit" class="button-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% } %>
        <% if(current.year === "2"){ %>
          <div class="card  shadow-lg  my-3">
            <h2 class="card-header  ">Sponsorship</h2>
            <div class="card-body">
              <h5 class="card-title">Rules</h5>
              
                <ul class="list" >
                  <li>Word limit should be atleast 120 words.</li>
                  <li>	Answers should be to the point.</li>
                  <li>	It is mandatory to complete 2 out of the 4 given tasks.</li>
                </ul>
            
              <p class="card-text">
                <h4>Task 1</h4>
                <p>
                    A big sponsor for an event cancels at the end moment, how would you handle the situation and what will be your next steps?
                </p>
                <h4>Task 2</h4>
                          <p>
                              How would you market a webinar that is to be held after the induction of first years, since you have no connections with them as everything is online? 
                </p>
                <h4>Task 3</h4>
                          <p>
                              Consider this situation: You're speaking to a sponsor on behalf of Codechef SRM’s upcoming event, the sponsor is not comfortable with your request so will you modify the request or search for a different sponsor? Give a brief about your opinion on the same? 
                </p>
                
                <h4>Task 4</h4>
                          <p>
                              Draft an email for approaching a sponsor for a monetary sponsorship.
                </p>
              </p>
            </div>
            <div class="card-footer text-muted ">
              <form method="POST" action="/technical/tasks">
                <div class="form-group">
                  <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                  <div class="text-center">
                    <button type="submit" class="button-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <% } %>
      <% } %>

<% } %>

<% if(current.creatives){ %>
      
      <% if(current.creatives === "Designing"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Graphic Designing</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                <li>  Content should not be copied.</li>
                <li>	 The entire project file should be submitted</li>
       
                <li>  Complete any 1 of the task mentioned below</b></li>
                </ul>
          
            <p class="card-text">
              <h4>Task 1</h4>
              <p>			recreate any two event<br> posters from our social media handles 
      
            </p>
            <h4>Task 2</h4>
                    <p>
                      Make a logo for a competitive coding event <br>
            </p>
            </p>
          </div>
          <div class="card-footer text-muted ">
            
              <form method="POST" action="/technical/tasks">
                <div class="form-group">
                  <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                  <div class="text-center">
                    <button type="submit" class="button-success">Submit</button>
                  </div>
                </div>
              </form>
         
        </div>
      <% } %>

      <% if(current.creatives === "Content Writing"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Content Writing</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                <li> Word limit should be atleast 120 words.</li>
                <li>	 Answers should be to the point.</b></li>
                <li> Be innovative in your selection of words and obviate plagiarism.</li>
                </ul>
          
            <p class="card-text">
              <h4>Task 1</h4>
              <p>
                Some time ago, CodeChef SRM organised it's flagship event involving students from various streams, who came together to flaunt their knowledge.
                 Write a detailed report of the entire program and the various events involved in it. Visit our Instagram Profile for more information regarding the event.
                  </p>
              <h4>Task 2</h4>
                        <p>
                            You have an event tomorrow and you are asked to arrange room 401 and 402 in Tech Park. There is another club too that is going to conduct an event on the same day as well as in the same location.
                            Write a convincing letter to the HOD asking preference above the other club.
              
              </p>
              <h4>Task 3</h4>
                        <p>
                            CodeChef regulary organizes coding competitions with the sole intention to make participants learn new concepts while competing.
                            Research about the Codechef January cookoff and write an article detailing the same.
                            </p>
              
              <h4>Task 4</h4>
              <p>
                  Codechef SRM is going to organise a workshop on Advanced Data Structures . Using your creativity, form a caption for the poster including all the details about the workshop to attract maximum
                  attention of the students.
              </p>
            </p>
          </div>
          <div class="card-footer text-muted ">
            <form method="POST" action="/technical/tasks">
              <div class="form-group">
                <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                <div class="text-center">
                  <button type="submit" class="button-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    <% } %>

    <% if(current.creatives === "Video Editing"){ %>
      <% if(current.year === "1"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Video Editing</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                 <li> Content should not be copied.</li>
                 <li> The entire project file should be submitted</li>
                 <li> Complete any 1 of the task mentioned below</b></li>
              </ul>
          
            <p class="card-text">
            <h4>Task 1</h4>
                      <p>				 Make a video of 5 mins. Take different videos and compile them with appropriate tarnsitions, use relavent background music.
               It is adviced to use txt and animations to showcase your Skills.
               For example check the following link:- <a href="https://www.youtube.com/watch?v=FvMsoHe2_Tk"> Click Here </a>				 
                
            </p>
            <h4>Task 2</h4>
                      <p>
               Create a 30 Secound Instagram reel about topic of your choice(keep the resolution 1080 * 1920 or 1080 * 1080)
               With appropriate background music. Example: Rewind-2020, New Year New Goal, Dream Clg Life, Promo of any product.
            </p>
            </p>
          </div>
          <div class="card-footer text-muted ">
            <form method="POST" action="/technical/tasks">
              <div class="form-group">
                <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                <div class="text-center">
                  <button type="submit" class="button-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
      <% if(current.year === "2"){ %>
        <div class="card  shadow-lg  my-3">
          <h2 class="card-header  ">Video Editing</h2>
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            
              <ul class="list" >
                 <li> Content should not be copied.</li>
                 <li> The entire project file should be submitted</li>
                 <li> Complete any 1 of the task mentioned below</li>
                 <li>  Proper drive link should be provided</b></li>
                </ul>
          
            <p class="card-text">
              <h4>Task 1</h4>
                          <p>				 
                   Create a very attractive logo reveal video of any brand with appropriate background music. 
                </p>	
                <h4>Task 2</h4>
                          <p>				 Make a video of 5-7 mins. Take different stock videos and compile them with appropriate tarnsitions, 
                   use relavent background music, txt and animations to showcase your Skills.
                    
                </p>
                <h4>Task 3</h4>
                          <p>
                   Showcase your talent of video editing by creating a video of your choice. Use any transtion or animation of your choice.
                   File size should not be larger that 1Gb.
                </p>
            </p>
          </div>
          <div class="card-footer text-muted ">
            <form method="POST" action="/technical/tasks">
              <div class="form-group">
                <input type="url" required placeholder="Enter Link" name="tech" class="form-control mb-3">
                <div class="text-center">
                  <button type="submit" class="button-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
    <% } %>


<% } %>

<% } else{ %>

<!-- <div class="text-center">
  <p>Sorry, you have not been selected for phase 2.</p>
</div> -->
<section> 
  <form method="POST" action="/secret">
     
      <div class="form-group col-auto my-1">
          <label for="exampleInputEmail1">Registeration Number:</label>
          <input name="reg" type="text" class="form-control col-auto my-1" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="RAXXXXXXXXXXXXX" required>

      </div>


      <div class="form-group col-auto my-1">
          <label for="exampleInputEmail1">Phone Number:</label>
          <input name="telnum" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="9876543210" required>

      </div>

      <!--Sanskriti-->
      <div class="col-auto my-1">
          <label for="inlineFormCustomSelect">Year of study</label>
          <br>

          <select name="year" class="custom-select mr-sm-2" id="year" required>
            <option value="none" selected>
              <p>...</p>
          </option>
              <option value="1">First</option>
              <option value="2">Second</option>
          </select>
      </div>
      <div class="col-auto my-1">
          <label for="inlineFormCustomSelect">Branch</label>
          <br>

          <select name="branch" class="custom-select mr-sm-2" id="branch" required>
            <option value="none" selected>
              <p>...</p>
          </option>
              <option value="Computer Science and Engineering" id="b1">Computer Science and Engineering</option>
              <option value="Computer Science and Business Systems" id="b2">Computer Science and Business Systems</option>
              <option value="Information Technology" id="b3">Information Technology</option>
              <option value="Electrical and Computer Engineering" id="b4">Electrical and Computer Engineering</option>
              <option value="Electronics and Computer Engineering" id="b5">Electronics and Computer Engineering</option>
              <option value="Electronics and Communication Engineering" id="b6">Electronics and Communication Engineering</option>
              <option value="Electrical and Electronics Engineering" id="b7">Electrical and Electronics Engineering</option>
              <option value="Mechanical Engineering" id="b8">Mechanical Engineering</option>
              <option value="Mechatronics" id="b9">Mechatronics</option>
              <option value="Civil Engineering" id="b10">Civil Engineering</option>
              <option value="Aerospace Engineering" id="b11">Aerospace Engineering</option>
              <option value="Automobile Engineering" id="b12">Automobile Engineering</option>
              <option value="Bioelectronics Engineering" id="b13">Bioelectronics Engineering</option>
              <option value="Biotechnology" id="b14">Biotechnology</option>
              <option value="Biomedical Engineering" id="b15">Biomedical Engineering</option>
              <option value="Chemical Engineering" id="b16">Chemical Engineering</option>
              <option value="Nanotechnology" id="b17">Nanotechnology</option>


          </select>
      </div>
 

      <div class="col-auto my-1" aria-required="true">
          <label for="inlineFormCustomSelect">Choose the domain of which you want to become a part</label>
          <small for="inlineFormCustomSelect">(You can apply for multiple domains)</small>
        <br>

          <input name="tech" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Technical" id="Technical">
          <label class="col-auto my-1-label" for="Technical">
              Technical
          </label>
          <br>
          <input name="corp" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Corporate" id="Corporate">
          <label class="col-auto my-1-label" for="Corporate">
              Corporate
          </label>
          <br>
          <input name="create" onclick="display2(this)" class="col-auto my-1-input" type="checkbox" value="Creatives" id="Creatives">

          <label class="col-auto my-1-label" for="Creatives">
              Creatives
          </label>
      </div>

      <!--Harikrishna-->



      <div class="col-auto my-1 d-none" id="op2">
          <label for="inlineFormCustomSelectA">Corporate Sub-Domain</label>
          <br>
          <!-- Corporate -->
          <select name="corpSub" class="custom-select mr-sm-2 " id="corpSub" required>
            <option value="none" selected>
              <p>...</p>
          </option>
              <option value="Management">Management</option>
              <option value="Sponsorship">Sponsorship</option>

          </select>
      </div>

      <!--<select class="custom-select mr-sm-2 d-none" id="inlineFormCustomSelect" required>-->
      <div class="col-auto my-1 d-none" id="op3">
          <label for="inlineFormCustomSelectB">Creatives Sub-Domain</label>

          <!-- Creatives -->
          <select name="createSub" class="custom-select mr-sm-2" id="createSub" required>
            <option value="none" selected>
              <p>...</p>
          </option>
              <option value="Content Writing">Content Writing</option>
              <option value="Video Editing">Video Editing</option>
              <option value="Designing">Designing</option>
          </select>
      </div>
      <!-- Technical -->



      <div class="col-auto my-1 d-none" id="op1">
          <label for="inlineFormCustomSelectC"> Technical Sub-Domain</label>
          <select name="techSub" class="custom-select mr-sm-2" id="techSub" required>

            <option value="none" selected>
              <p>...</p>
          </option>
              <option value="Competitive Coding">Competitive Coding</option>
              <option value="Web Development">Web Development</option>
              <option value="App Development">App Development</option>
              <option value="Data Science">Data Science</option>

          </select>

      </div>
      <div class="form-group1 col-auto my-1">
          <label for="email">Linkedin:</label>
          <input type="url" class="form-control" id="linkedinurl" placeholder="https://linkedin.com/username"
              name="linkedin" required>
      </div>
      <div class="form-group2 col-auto my-1">
          <label for="email">Github:</label>
          <input type="url" class="form-control" id="githuburl" placeholder="https://github.com/username"
              name="github" required>
      </div>
      <div class="form-group col-auto my-1">
          <label for="Questionaire1"> About you </label>

          <textarea name="about" class="form-control" id="Questionaire1" rows="7" minlength="150" maxlength="500"
              required></textarea>
      </div>
      <div class="form-group col-auto my-1">
          <label for="Questionaire1"> Why do you want to be a part of codechef srm student chapter? </label>
          <textarea name="why" class="form-control" id="Questionaire1" rows="7" minlength="150" maxlength="500"
              required></textarea>

      </div>
      <br>
      <div class="col-auto my-1">
          <button type="submit" class="button-success col-auto my-1" onclick="return validateDropdown()">Submit</button>
      </div>



  </form>
</section>

<% } %>
</div>

<%- include('partials/footer') %>








