<%- include('partials/header') %>
<section class="container">
         
    <div class="jumbotron bg-white text-center mt-5 ">
      <h1 class="display-4 topic" style="margin-top: 50px;"><span class="letter">Vo</span>ila chef!!</h1>
      <p class="lead mt-5">And just like that you've completed the first phase. Hope you enjoyed the appetizer!! For the rest of your meal keep a close eye on your mailbox. All further communication about your recruitment will be through your mail.  So sit tight and prepare.</p>
      <hr class="my-4">
      <p>With that we wish you luck for the next phase!! Hope to see you there!!</p>
      <div class="text-center mt-5">
        <a href="/secret">
        <button class="button-success">
          Dashboard
        </button>
        </a>
      </div>
    </div>
</section>
<%- include('partials/footer') %>